body {
  background-color: #FCFCFC;
  margin: 0 auto;
  font-family: "Helvetica Nue", sans-serif;
}

div {
  display: block;
}

.menu {
  width:100%;
  top: 0;
  height: 70px;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
  background: rgba(255, 255, 255, 0.9);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownbutton {
    padding: 17px;
    height: 40px;
    border: none;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 80px;
    padding-top: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    z-index: 1;
    font-family: "Merriweather";
    font-size: 12px;
}

.dropdown-content a {
    padding: 16px 16px;
    text-decoration: none;
    display: block;
    background-color: #FCFCFC;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdownbutton {
    background-color: #EFEFEF;
}


.pages {
  font-size: 14px;
  font-family: 'Merriweather';
  font-style: bold;
  padding: 10px 36px;
  margin: auto;
  text-decoration: none;
  color: #212121;
  float: right;
}

.intro{
  min-height: 250px;
  width: 100%;
  margin: auto;
  text-align: center;
  border-width: 0.1px;
  border-style: ridge none;
  margin-bottom: 45px;
  padding-bottom: 30px;
}

.intro h1{
  font-family: "Merriweather";
  font-size: 36px;
  font-weight: 900;
  padding-top: 30px;
}

.intro h2 {
  font-weight: 100;
  font-size: 16px;
  line-height: 2.8;
}

.buttons img {
  height: 35px;
  margin: 0px 5px;
  filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .5s ease-in-out;
}

.buttons img:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
    }

.image {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  max-height: 300px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.side {
  opacity: 0.9;
  position: relative;
}

.side:hover .overlay {
  opacity: 0.7;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: #FFFFFF;
}

.text {
  color: black;
  font-size: 18px;
  font-family: "Helvetica Neue";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.me {
  margin: auto;
  display: block;
}

.copy {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 100px;
}

.title {
  position: sticky;
  top: 250px;
  width: 20%

}

.title h1{
  font-family: 'Merriweather';
  text-align: right;
  margin: auto;
}


.aboutme {
  width: 70%;
}


.reviews {
  width: 100%;
  border-width: 0.1px;
  border-style: ridge none;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  max-height: 400px;
  margin-bottom: 100px;

}

.reviews p {
  font-size: 18px;
  font-family: "Merriweather";
  text-align: center;
  width: 50%;
  line-height: 1.7;
  margin: auto;
}

.reviews .person img{
  width: 100px;
  margin-bottom: 30px;
  display: block;
  margin: auto;

}

.person p {
  font-family: "Helvetica Neue";
  font-size: 13px;
  line-height: 3;
}

p {
  text-align: left;
  line-height: 3;
  max-width: 500px;
  font-size: 14px;
}

a{
  color: black;
}


.funcopy {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 100px;
}

iframe {
  margin: auto;
  display: block;
  margin-bottom: 70px;
}

.graphic {
  margin-top: 500px;
  margin:auto;
}

.section {
  margin-top: 100px;
}

.section h1 {
  font-size: 20px;
  text-align: center;
  font-family: "Merriweather"
}

.foodmoves {
  display: flex;
  justify-content: space-evenly;
  height: 300px;
  width: 80%;
  margin: auto;
}
.foodmoves .works {
  margin: auto;
  height: 94%
}

.idx {
  display: flex;
  justify-content: space-evenly;
  height: 250px;
  width: 80%;
  margin: auto;
}
.idx .works {
  max-height: 80%;
  margin: auto;
}

.decal {
  display: flex;
  justify-content: space-evenly;
  height: 1000px;
  width: 75%;
  margin: auto;
  padding-bottom: 200px;
}

.decal .works {
  max-height: 90%;
  margin: auto;
}

.decal p {
  min-width: 350px;
  margin: 30px;
}

.fashion {
  display: flex;
  justify-content: space-evenly;
  height: 400px;
  width: 60%;
  margin: auto;
}


.fashion .works {
  max-height: 90%;
  margin: auto;
}


.contactme p {
  margin: auto;
  text-align: center;
  width: 80%;
}

.contactme h1 {
  font-size: 30px;
  font-weight: 900;
}
.contactme .buttons{
  margin: auto;
  margin-top: 15px;
}

.aatf img {
  max-width: 300px;
}

.title {
  margin: 60px;
  width: 100%;
  margin: auto;
}

.intro h1{
  padding-top: 160px;
  text-align: center;
  height: 100px;

}

.web {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 1200px;
  max-width: 80%;
  margin: auto;
}

.web p{
  max-width: 300px;
  margin: 30px;
  max-height: 1200px;
}
